<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-primary">
<div class="container mt-5">


    <form th:action="@{/validateLogin}" method="post" class="bg-white rounded shadow">

        <h1 class="p-2">Admin Login Page</h1>

   <div class="p-1 mt-4">
    <label for="adminId">Admin Id</label>
    <input type="text" name="adminId" id="adminId" required>
   </div>

        <div class="p-1 mt-4">
    <label for="adminPassword">Admin Password</label>
    <input type="password" name="adminPassword" id="adminPassword" required>
        </div>

        <div class="p-1 mt-4 " >
    <button class="btn btn-success" type="submit">Login</button>
        </div>


    <div th:if="${accountDoesNotExistError}" class="error-message">
        <p th:text="${accountDoesNotExistError}"></p>
    </div>
    <br>
    <div th:if="${passwordIncorrectError}" class="error-message">
        <p th:text="${passwordIncorrectError}"></p>
    </div>
    <br>
    <div th:if="${emptyFieldError}" class="error-message">
        <p th:text="${emptyFieldError}"></p>
    </div>
</form>

</div>
</body>
</html>
