<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin View</title>
</head>
<body>
<button onclick="window.location.href='/ViewPurReqs'">View Purchase Requisitions</button>
<br>
<br>
<button onclick="window.location.href='/ManageItems'">Manage Items </button>
<br>
<br>
<button onclick="window.location.href='/ManageSuppliers'">Manage Suppliers</button>
<br>
<br>
<button onclick="window.location.href='/Sfpp'">Suppliers for Purchase Part</button>
<br>
<br>
<button onclick="window.location.href='/ManageUsers'">Manage Users</button>
<br>
<br>
<button onclick="window.location.href='/viewPurchaseOrder'">View Purchase Orders</button>
<br>
<br>
<button onclick="window.location.href='/adminCreateNewPo'">Create New Purchase Order</button>
<br>
</body>
</html>