<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Open Purchase Orders</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-black">
<span style="float:right">
   <button class="btn btn-warning" onclick="window.location.href='/adminHome'">Home</button>
</span>

<div class=" p-1 header-bar">
    <span>
    <h2 class="text-white" style="display:inline">Delivered Purchase Orders</h2>
        </span>

</div>
<br>
<br>
<div class=" p-2 bg-light rounded shadow">
<form method="post" action="/posInvoiced">
  <table class="table table-bordered table-stripped">
    <tr>
      <th>Select</th>
      <th>PO Number</th>
      <th>Item Id</th>
      <th>Item Name</th>
      <th>Item Quantity</th>
      <th>Supplier Id</th>
      <th>Unit Price</th>
      <th>Status</th>
      <th>PO Date</th>
    </tr>

    <tr th:each="Po:${DeliveredPos}">
      <td>
        <input type="radio" name="poNumber" th:value="${Po.poNumber}">
      </td>
      <td th:text="${Po.poNumber}"></td>
      <td th:text="${Po.itemFromPurOrder.itemCode}"></td>
      <td th:text="${Po.itemName}"></td>
      <td th:text="${Po.itemQuantity}"></td>
      <td th:text="${Po.supplierFromPurOrder.supplierId}"></td>
      <td th:text="${Po.unitPrice}"></td>
      <td th:text="${Po.status}"></td>
      <td th:text="${Po.poDate}"></td>
    </tr>
  </table>

  <button class="btn btn-success" type="submit">Invoice Purchase Order</button>
</form>
</div>
</body>
</html>
