<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee View</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-black">

<div class=p-3>
<form method="get" action="/newPurReq">
<button class="btn btn-primary" type="submit" >Create new Purchase Requisition</button>
</form>
</div>

<div class="p-1 bg-light rounded shadow">
<h3 class="ms-3">My Purchase Requisitions </h3>

<table class="table table-bordered table-stripped">
    <tr>

        <th>Pur Req Id</th>
        <th>Date</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>RaisedBy</th>
    </tr>
    <tr th:each="req:${listOfPurReqs}">

        <td th:text="${req.purReqId}"></td>
        <td th:text="${req.reqdate}"></td>
        <td th:text="${req.item}"></td>
        <td th:text="${req.quantity}"></td>
        <td th:text="${req.status}"></td>
        <td th:text="${req.raisedBy}"></td>

    </tr>

</table>
<br>
</div>
</body>
</html>