<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Purchase Orders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-black">

<br>
    <span style="float: right">
    <button class="btn btn-primary " onclick="window.location.href='/deliveredPos'">View Delivered Purchase Orders</button>
        </span>
    <br>
    <br>

<span style="float: right">
    <button  class="btn btn-warning " onclick="window.location.href='/viewInvoicedPos'">View Invoiced Purchase Orders </button>
        </span>
<br>
<br>

<form method="post" action="/poAction" class="p-2 bg-light rounded shadow">

    <h2 style="display:inline">Open Purchase Orders</h2>
    <br>
    <br>
<table class="table table-stripped table-bordered">
    <tr>
        <th>Select</th>
        <th>PO Number</th>
        <th>Item Id</th>
        <th>Item Name</th>
        <th>Item Quantity</th>
        <th>Supplier Id</th>
        <th>Unit Price</th>
        <th>Status</th>
        <th>PO Date</th>
    </tr>

<tr th:each="Po:${openPos}">
     <td>
    <input type="radio" name="poNumber" th:value="${Po.poNumber}"/>
     </td>
    <td th:text="${Po.poNumber}"></td>
    <td th:text="${Po.itemId}"></td>
    <td th:text="${Po.itemName}"></td>
    <td th:text="${Po.itemQuantity}"></td>
    <td th:text="${Po.supplierId}"></td>
    <td th:text="${Po.unitPrice}"></td>
    <td th:text="${Po.status}"></td>
    <td th:text="${Po.poDate}"></td>
</tr>
</table>

<button class="btn btn-success" type="submit">Confirm Receipt</button>
</form>

</body>
</html>
