<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supplier for Purchase Part</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-black">
<span style="float:right">
   <button class="btn btn-warning" onclick="window.location.href='/adminHome'">Home</button>
</span>
<div class="p-2">
<h2 class="text-white">Supplier for Purchase Part</h2>
</div>

<div class="p-2 bg-light rounded shadow">
<form  action="/SfppReturn"  method="post">

    <label for="chooseItem"> Choose an item</label>
    <select name="chooseItem"  id="chooseItem">
      <option disabled selected>Choose an item</option>
        <option
                th:each="item:${itemPickList}"
                th:value="${item.itemCode}"
                th:text="${item.itemCode + '-' + item.itemName}">
        </option>
    </select>

    <label for="chooseSupplier">Choose a Supplier</label>
    <select name="chooseSupplier" id="chooseSupplier">
        <option disabled selected>Choose a Supplier</option>
        <option
             th:each="supplier:${supplierPickList}"
             th:value="${supplier.supplierId}"
             th:text="${supplier.supplierId + '-' + supplier.name} "
        >
        </option>
    </select>
    <label for="price">Price</label>
    <input type="number" name="price" id="price">

    <br> <br>

    <button class="btn btn-success" type="Submit">Create New Link</button>


<div th:if="${linkExistsError}" class="error-message">
    <p th:text="${linkExistsError}"></p>
</div>

</form>
</div>

<div  class=" mt-3 p-3 bg-light rounded shadow">
<form action="/destroyLink" method="post" >

    <button class="btn btn-danger" type="Submit">Delete Link</button>

    <table class="table table-stripped table-bordered">
        <tr>
            <td>Select</td>
            <td>Item Code</td>
            <td>Item Name</td>
            <td>Supplier Id</td>
            <td>Supplier Name</td>
            <td>Item Price</td>
        </tr>

        <tr th:each="link:${newSfppTable}">
            <td>
                <input type="radio" name="link" th:value="${link.itemCode + '-' + link.supplierId}"/>
            </td>
            <div th:if="${sfppDeleteError}" class="error-message text-red">
                <p th:text="${sfppDeleteError}"></p>
            </div>


            <td th:text="${link.itemCode}"></td>
            <td th:text="${link.itemName}"></td>
            <td th:text="${link.supplierId}"></td>
            <td th:text="${link.name}"></td>
            <td th:text="${link.price}"></td>

        </tr>

    </table>

</form>
</div>

</body>
</html>